.App {
  text-align: center;
  box-sizing: border-box;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.header-title {
  color: white;
}

.header-link:link,
.header-link:visited,
.header-link:hover,
.header-link:active {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100vh;
}

.room-page {
  flex: 1;
  text-align: center;
}

.update-username-container h2 {
  margin: 10px 0;
}

.update-username-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-username-container input {
  margin: 16px 0;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-username-container input.input-error {
  border: 1px solid red;
}

.update-username-container button {
  padding: 5px 10px;
}

.update-username-container p {
  color: red;
}

.side-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  align-self: flex-start;
  /* Bu satır, elemanı içeriği kadar yüksek tutar */
  margin-left: 20px;
  margin-bottom: 20px;
}

.create-room-page,
.join-room-page {
  display: flex;
  justify-content: center;
}

.home-page,
.create-room-page,
.join-room-page,
.room-page {
  margin: 20px;
}

.join-room-page-sub,
.create-room-page-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 600px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.create-room-textbox,
.username-textbox,
.invite-code-textbox {
  height: 48px;
}

.invite-code-textbox-empty,
.create-room-textbox-empty,
.username-textbox-empty {
  height: 48px;
  border: 2px solid red;
}

.online-users-buttons {
  display: flex;
}