.App {
  text-align: center;
  box-sizing: border-box;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.header-title {
  color: white;
}

.header-link:link,
.header-link:visited,
.header-link:hover,
.header-link:active {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.create-room-page,
.join-room-page {
  display: flex;
  justify-content: center;
}

.home-page,
.create-room-page,
.join-room-page,
.room-page {
  margin: 20px;
}

.join-room-page-sub,
.create-room-page-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 600px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.create-room-textbox,
.username-textbox,
.invite-code-textbox {
  height: 48px;
}

.invite-code-textbox-empty,
.create-room-textbox-empty,
.username-textbox-empty {
  height: 48px;
  border: 2px solid red;
}